/* Personnalisation */

body, .ui.header {
    font-family: 'Jost', sans-serif;
}

.bee-admin, .bee-hidden {
    display: none !important;
}
.bee-edit-open, .bee-open, .bee-modal-image, .bee-window-open, .bee-modal-player, .bee-player {
    cursor: pointer;
}
.ui.segment, .ui.segments .segment {
    font-size: inherit;
}

#bee-diaporama img {
    object-fit: contain;
}

.compact.message {
    margin: 0.5em;
    padding: 0.5em 1em;
}
.ui.icon.message.bee-player
, .ui.icon.message.bee-modal-image 
, .ui.icon.message.bee-open 
, .ui.icon.message.bee-window-open 
{
    width: inherit;
}
/* Carte */
.ui.card>.content>.description, .ui.cards>.card>.content>.description {
    font-family: Lato;
    font-size: 0.87em;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
    font-family: Lato;
    font-size: 1em;
}
ui.cards>.card {
    width: 150px
}
/* markdown */
.markdown-body {
    font-family: inherit;
}
pre {
    white-space: pre-wrap;
    padding: 0.5em;
}
.markdown-body pre code {
    white-space: pre-wrap;
}
.ui.header.bee-texte {
    margin: 1rem 0 1rem;
}
.ui.header .icon:only-child, i.icon.bee-icon {
    margin-right: 0;
}
.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: inherit;
}
.bee-centre {
    text-align: center;
}
/* bee-chanson */
.bee-chanson {
    font-family: 'Rancho', cursive;
    font-size: 1.7em;
    color:saddlebrown;
}
.bee-chanson em {
    font-family: 'Rancho', cursive;
    /* font-size: 1.7em; */
    color:grey;
}
.bee-chanson .ui.large.header {
    font-family: 'Rancho', cursive;
    font-size: 2em;
}

/* RETURN TO TOP */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top {
    color: #fff !important;
    background-color: #303030 !important;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 14px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #616161;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
