<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Title }}</title>

    {{ partial "head.html" . }}
    {{ block "css" . }} {{ end }}
  </head>

  <body>
    {{ partial "nav.html" . }}
    <div class="flip-container">
      <div class="flipper">
        <section class="front">
          <div class="dream-max-width">
            {{ block "main" . }} {{ end }}
          </div>
        </section>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ block "js" . }} {{ end }}

    {{ if .Site.Params.enableSearch }}
      {{ partial "search.html" . }}
    {{ end }}

{{ if .Site.GoogleAnalytics }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.GoogleAnalytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{.Site.GoogleAnalytics}}');
</script>
{{ end }}
  </body>
</html>
