{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "css" }}

{{ if .Site.Params.highlightjs }}
{{ if .Site.Params.highlightjsTheme }}
<link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/{{ .Site.Params.highlightjsTheme }}.min.css" />
{{ else }}
<link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/default.min.css" />
{{ end }}
{{ end }}

{{ end }}

{{ define "main" }}
<div class="ui centered relaxed grid dream-grid">
    <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column markdown-body dream-single {{.Params.Style}}" 
    id="dream-save-post-as-img">
        <section class="ui top attached segment">
            <header>
                <h1 class="ui large header">
                    {{ .Title }}
                    <div class="sub header">
                        Publié le {{ .PublishDate.Day }} {{ index $.Site.Data.mois (printf "%d" .PublishDate.Month) }}
                        {{ .PublishDate.Year }}
                    </div>
                </h1>
            </header>
            <article class="main">{{ .Content | emojify }}</article>
        </section>

        <footer class="ui attached segment" data-html2canvas-ignore>
            {{ if isset .Params "tags" }}
            {{ range $tag := .Params.tags }}
            <a class="ui label" href="{{ `tags/` | relLangURL }}{{ $tag | urlize }}/" title="{{ $tag }}">#{{ $tag }}</a>
            {{ end }}
            {{else}}<i class="award red icon"></i>
                {{ end }}
                {{if .Draft }}
                <i class="firstdraft red icon" title="brouillon"></i>
                {{end}}
                {{if or .PublishDate .ExpiryDate }}
                <div class="ui yellow image label bee-admin">
                    <i class="clock outline icon"></i>
                    {{if .PublishDate}}<span title="date publication">{{.PublishDate.Format "2006-01-02"}}</span>{{end}}
                    {{if .ExpiryDate}}
                    <div class="detail" title="date expiration">{{.ExpiryDate.Format "2006-01-02"}}</div>
                    {{end}}
                </div>
                {{end}}
                <a class="ui link green float right icon bee-admin bee-edit-open" 
                 title="Editer la page...">
                    <i class="edit icon"></i>
                </a>
                <a class="ui icon" style="float: right; cursor: pointer;" onclick="savePostAsImg()" title="{{ i18n "saveAsImage" }}">
                    <i class="save large icon"></i>
                </a>
        </footer>

        {{ if .Site.Copyright }}
        <footer class="ui attached segment" data-html2canvas-ignore>
            {{ .Site.Copyright | safeHTML }}
        </footer>
        {{ end }}

    </div>
    <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
        {{ partial "header.html" . }}
    </div>
</div>
{{ end }}

{{ define "js" }}
<script src="{{ `/js/html2canvas.min.js` | relURL }}"></script>
<script src="{{ `/js/post.js` | relURL }}"></script>

<!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
{{ if ($.Scratch.Get "galerie") }}
<script src="{{ `/js/imagesloaded.pkgd.min.js` | relURL }}"></script>
<script src="{{ `/js/masonry.pkgd.min.js` | relURL }}"></script>
{{ end }}
{{ if ($.Scratch.Get "diaporama") }}
<script src="{{ `/lightbox/js/lightgallery.min.js` | relURL }}"></script>
<script>
    lightGallery(document.getElementById('galerie'),{
    });
</script>
{{ end }}

{{ if .Site.Params.highlightjs }}
<script src="{{ if .Site.Params.highlightjsCDN }}{{ .Site.Params.highlightjsCDN }}{{ else }}{{ "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js" }}{{ end}}"></script>

{{ if .Site.Params.highlightjsExtraLanguages }}
{{ range .Site.Params.highlightjsExtraLanguages }}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/languages/{{ . }}.min.js"></script>
{{ end }}
{{ end }}

{{ partial "highlight.html" . }}
{{ end }}

{{ end }}