<article class="ui attached segment card dream-card">
  <a class="image" href="{{ .Permalink }}">
    {{ if .Params.cover }}
    <img src="{{ .Params.cover | relURL }}" alt="{{ .Title }}" />
    {{ else }}
    <img src="{{ printf `/img/default%d.jpg` (index (shuffle (seq 1 4)) 0) | relURL }}" alt="{{ .Title }}" />
    {{ end }}
  </a>

  <div class="content">
    <h2 class="ui medium header">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ if ne .Date.Year 1 }}
    <div class="meta">
      <p class="date">
        {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </p>
    </div>
    {{end}}
    <div class="description">
      {{ .Summary | emojify | safeHTML }}
    </div>
  </div>

  <div class="extra content">
    {{ if .Params.tags }}
    {{ range $tag := .Params.tags }}
    <a class="ui label" href="{{ `tags/` | relLangURL }}{{ $tag | urlize }}/" title="{{ $tag }}">#{{ $tag }}</a>
    {{ end }}
    {{ end }} 
  </div>
</article>