<!-- Affichage d'une image en popup-->
<div id="bee-modal-image" class="ui large modal">
    <div class="actions">
        <div class="ui approve button bee-hidden"><i class="file download red icon"></i>Télécharger</div>
        <div class="ui cancel button">Fermer</div>
    </div>
    <div class="image content">
        <img class="image center aligned" style="max-height: 100%;max-width: 100%;" src="">
    </div>
</div>
<!-- Viewer pdf text -->
<div id="bee-modal-viewer" class="ui large modal">
    <div class="actions">
        <div class="ui approve button"><i class="file download red icon"></i>Télécharger</div>
        <div class="ui cancel button">Fermer</div>
    </div>
    <div class="content">
        <object data="à venir" type="à venir" width="100%" typemustmatch>
            <p>Vous ne possédez pas de greffon, mais vous pouvez <a href="à venir">télécharger le fichier.</a></p>
        </object>
    </div>
</div>
<!-- Viewer pdf text -->
<div id="bee-modal-text" class="ui long modal">
    <div class="actions">
        <div class="ui approve button"><i class="file download red icon"></i>Télécharger</div>
        <div class="ui cancel button">Fermer</div>
    </div>
    <div class="scrolling content">
        <div class="ui form">
            <div class="field">
                <pre id="bee-text"></pre>
            </div>
        </div>
    </div>
</div>
<!-- Modal Player -->
<div id="bee-modal-player" class="ui tiny modal">
    <div class="actions">
        <div class="ui cancel button">Fermer</div>
    </div>
    <div class="content">
        <div class="ui compact icon message bee-player" data-path="à venir">
            <i class="play icon"></i>
            <div class="content">
                <p>à venir</p>
            </div>
        </div>
    </div>
</div>
<a href="javascript:" id="return-to-top"><i class="arrow up icon"></i></a>
<script>
    // Variables globales traitées dans bee-script.js
    var $BeeIsServer = '{{.Site.IsServer}}';
    var $BeeFilePath = '{{ with .File }}{{ .Path }}{{ end }}';
</script>
<!-- end modal image -->
<script src="{{ `/js/jquery.min.js` | relURL }}"></script>
<script src="{{ `/js/semantic.min.js` | relURL }}"></script>
<script src="{{ `/js/jquery.overlayScrollbars.min.js` | relURL }}"></script>
<script src="{{ `/js/header.js` | relURL }}"></script>
<script src="{{ `/js/main.js` | relURL }}"></script>
<script src="{{ `/js/bee-script.js` | relURL }}?v={{.Site.Params.version}}"></script>
<script src="{{ `/js/theme.js` | relURL }}"></script>