<article class="dream-header">
  <!-- TITRE -->
  <section class="ui top attached center aligned segment">
    <div class="ui small circular image">
      {{ if .Site.Params.avatar }}
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.avatar | relURL }}">
      </a>
      {{ end }}
    </div>

    <h1 class="ui medium header">
      {{- .Site.Params.title -}}
      {{ if .Site.Params.subtitle }}
      <div class="sub header" style="margin-top: 0.5rem;">{{ .Site.Params.subtitle }}</div>{{end}}
    </h1>

    <!-- <div class="ui horizontal list">
      <a class="item" href="{{ "tags" | relLangURL }}">
        <div class="ui label">
          <i class="tags icon"></i>{{ T "allTags" }}
        </div>
      </a> -->
    <!-- Les Archives sont catégorisées par année dans la rubrique categories -->
    <!-- <a class="item" href="{{ "categories" | relLangURL }}">
        <div class="ui label">
          <i class="archive icon"></i>{{ T "archives" }}
        </div>
      </a> -->
    <!-- </div> -->
  </section>
  <!-- /TITRE -->

  {{ if .Site.Taxonomies.tags }}
  <!-- TAGS -->
  <section class="ui attached center aligned segment dream-tags">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <a class="ui label" href="{{ `tags/` | relLangURL }}{{ $name | urlize }}/" title="{{ $name }}">#{{ $name }}</a>
    {{ end }}
  </section>
  <!-- /TAGS -->
  {{ end }}

  {{ if .Site.Taxonomies.categories }}
  <!-- NEWS -->
  {{ $bsection := false }}
    {{ $categories := .Site.Taxonomies.categories }}
    {{ range $name, $taxonomy := $categories }}
    {{ if (eq $name "news") }}
    {{ if not $bsection }}
  <section class="ui attached segment dream-categories">
    {{ $bsection = true }}
    {{end}}
    <div class="content">
      <div class="ui ribbon label">{{ T "news"}}</div>
      <div class="ui list">
        {{ range $taxonomy.Pages }}
        <div class="item">
          <div class="content">
            <a href="{{ .RelPermalink }}" class="item">{{ .LinkTitle }}</a>
          </div>
        </div>
        {{ end }}
      </div><!-- /list-->
    </div><!-- /content-->
    {{ end }}
    {{ end }}
    {{ if $bsection }}
  </section> 
    {{end}}
  <!-- /NEWS -->
  {{ end }}

<section class="ui bottom attached segment dream-categories" style="background-color: #e8e8e8;">
{{ if .Site.Menus }}
  <!-- MENU MAIN -->
  {{ $isMainClose := true }}
  {{ range .Site.Menus.page }}
  {{ if $isMainClose }}
  <div class="ui vertical accordion menu">
    {{$isMainClose = false}}
  {{end}}
  <div class="item">
    {{ if .HasChildren }}
    <div class="{{ if or ($.HasMenuCurrent `page` .) false }}active{{ end }} title">
      <i class="dropdown icon"></i>
      <span>{{ .Name }}</span>
    </div>
    <div class="{{ if or ($.HasMenuCurrent `page` .) false }}active{{ end }} content">
      <div class="menu">
      {{ range .Children }}
      <a class="item {{ if $.IsMenuCurrent `page` . }}active{{ end }}"
      href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      </div>
    </div>
    {{ else }} 
    <!-- no children -->
    <a class="{{ if $.IsMenuCurrent `page` . }}active{{ end }} title" 
      href="{{ .URL }}">{{ .Title }}</a>
    {{ end }}
  </div> <!-- end item -->
  {{ end }}<!-- end range menu-->
  {{ if not $isMainClose }}
  </div>
  {{end}}
  <!-- /MENU MAIN-->
  <!-- MENU CARD -->
  {{ $isLinksClose := true }}
  {{ range .Site.Menus.links }}
  {{ if $isLinksClose }}
  <div class="content">
    <div class="ui list">
      {{$isLinksClose = false}}
  {{end}}
  <div class="item">
    <div class="content">
      <a href="{{ .URL }}" {{if in .URL `http`}}target="_blank"{{end}} class="item {{ if $.IsMenuCurrent `links` . }}active{{ end }}" 
      style="color: rgba(0,0,0,.6) !important;">{{ .Name }}</a>
    </div>
  </div>
  {{ end }}<!-- end range menu-->
  {{ if not $isLinksClose }}
    </div><!-- /list-->
  </div><!-- /content-->
  {{end}}
  <!-- /MENU LINKS -->
{{ end}}
</section>

</article>