<article class="dream-header">
  <!-- TITRE -->
  <section class="ui top attached center aligned segment">
    <div class="ui small circular image">
      {{ if isset .Site.Data.config "avatar" }}
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Data.config.avatar | relURL }}">
      </a>
      {{ end }}
    </div>

    <h1 class="ui medium header">
      {{- .Site.Data.config.title -}}
      {{ if .Site.Data.config.subtitle }}
      <div class="sub header" style="margin-top: 0.5rem;">{{ .Site.Data.config.subtitle }}</div>{{end}}
    </h1>

    <!-- <div class="ui horizontal list">
      <a class="item" href="{{ "tags" | relLangURL }}">
        <div class="ui label">
          <i class="tags icon"></i>{{ T "allTags" }}
        </div>
      </a> -->
    <!-- Les Archives sont catégorisées par année dans la rubrique categories -->
    <!-- <a class="item" href="{{ "categories" | relLangURL }}">
        <div class="ui label">
          <i class="archive icon"></i>{{ T "archives" }}
        </div>
      </a> -->
    <!-- </div> -->
  </section>
  <!-- /TITRE -->

  {{ if .Site.Taxonomies.tags }}
  <!-- TAGS -->
  <section class="ui attached center aligned segment dream-tags">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <a class="ui label" href="{{ `tags/` | relLangURL }}{{ $name | urlize }}/" title="{{ $name }}">#{{ $name }}</a>
    {{ end }}
  </section>
  <!-- /TAGS -->
  {{ end }}

  {{ if .Site.Taxonomies.categories }}
  <!-- NEWS -->
  {{ $bsection := false }}
    {{ $categories := .Site.Taxonomies.categories }}
    {{ range $name, $taxonomy := $categories }}
    {{ if (eq $name "news") }}
    {{ if not $bsection }}
  <section class="ui attached segment dream-categories">
    {{ $bsection := true }}
    {{end}}
    <div class="content">
      <div class="ui ribbon label">{{ T "news"}}</div>
      <div class="ui list">
        {{ range $taxonomy.Pages }}
        <div class="item">
          <div class="content">
            <a href="{{ .RelPermalink }}" class="item">{{ .LinkTitle }}</a>
          </div>
        </div>
        {{ end }}
      </div><!-- /list-->
    </div><!-- /content-->
    {{ end }}
    {{ end }}
    {{ if $bsection }}
  </section> 
    {{end}}
  <!-- /NEWS -->
  {{ end }}

  {{ if or .Site.Menus .Site.Taxonomies.categories}}
  <section class="ui bottom attached segment dream-categories" style="background-color: #e8e8e8;">
  {{ if .Site.Menus }}
  <!-- MENU -->
    <div class="ui vertical accordion menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <div class="item">
        {{ if .HasChildren }}
        <div class="{{ if or ($.HasMenuCurrent `main` .) false }}active{{ end }} title">
          <i class="dropdown icon"></i>
          <span>{{ .Name }}</span>
        </div>
        <div class="{{ if or ($.HasMenuCurrent `main` .) false }}active{{ end }} content">
          <div class="menu">
          {{ range .Children }}
          <a class="item {{ if $.IsMenuCurrent `main` . }}active{{ end }}"
          href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
          </div>
        </div>
        {{ else }} 
        <!-- no children -->
        <a class="{{ if $.IsMenuCurrent `main` . }}active{{ end }} title" 
          href="{{ .URL }}">{{ .Title }}</a>
        {{ end }}
      </div> <!-- end item -->
      {{ end }}<!-- end range menu-->
    </div>
  <!-- /MENU -->
  {{ end}}

  {{ if .Site.Taxonomies.categories }}
  <!-- LINKS -->
    {{ $categories := .Site.Taxonomies.categories }}
    {{ range $name, $taxonomy := $categories }}
    {{ if (eq $name "links") }}
    <div class="content">
      <div class="ui list">
        {{ range $taxonomy.Pages }}
        <div class="item">
          <div class="content">
            <a href="{{ .RelPermalink }}" class="item" style="color: rgba(0,0,0,.6) !important;">{{ .LinkTitle }}</a>
          </div>
        </div>
        {{ end }}
      </div><!-- /list-->
    </div><!-- /content-->
    {{ end }}
    {{ end }}
    <!-- links dans config -->
    {{ if isset .Site.Data.config "links" }}
    {{ $links := .Site.Data.config.links }}
    <div class="content">
      <div class="ui list">
        {{ range $index, $link := $links }}
        <div class="item">
          <div class="content">
            {{ $link }}
          </div>
        </div>
        {{ end }}
      </div><!-- /list-->
    </div><!-- /content-->
    {{ end }}
  <!-- /LINKS -->
  {{ end }}
  </section>
  {{ end }}
  <!-- /menu /categories-->

  <!-- <section class="ui grey inverted bottom attached center aligned segment">
    {{ if .Site.Params.siteStartYear }}
      <p>© {{ if eq now.Year .Site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ .Site.Params.siteStartYear }} - {{ now.Year }}{{ end }} {{ .Site.Data.config.title }}</p>
    {{ else }}
      <p>© {{ now.Year }} {{ .Site.Data.config.title }}</p>
    {{ end }}
    {{ if .Site.Params.headerBottomText }}
      <p>{{ .Site.Params.headerBottomText | safeHTML }}</p>
    {{ end }}
  </section> -->
</article>