<nav class="ui secondary menu dream-menu">
    <a class="item" href="{{ .Site.BaseURL }}" style="color: black !important;">
        <i class="large link home icon" title="{{ i18n `home` }}"></i>
    </a>
    <!-- MENU NAVIGATION -->
    {{ range .Site.Menus.navigation }}
    <a class="item bee-admin" href="{{ .URL }}" style="color: black !important;" {{if in .URL `http`}}target="_blank"
        {{end}}>
        <i class="large {{ .Pre }} icon" title="{{ .Name }}"></i>
    </a>
    {{ end }}
    <!-- end range menu-->
    <!-- /MENU NAVIGATION -->
    {{ if .Site.Params.enableSearch }}
    <div class="right menu">
        <div class="item">
            <i class="large link search icon" onclick="toggleSearch()"></i>
        </div>
    </div>
    {{ end }}
</nav>