<!-- 
    Bouton icône + texte
    icone : chemin de l'icône
    titre : le texte à droite du bouton
    image : lien vers un image
    pdf   : lien vers un pdf
    lien  : lien vers une page du site
-->
{{$icon := .Get "icone" | default ""}}
{{$title := .Get "titre" | default ""}}
{{$img := .Get "image" | default ""}}
{{$pdf := .Get "pdf" | default ""}}
{{$path := .Get "lien" | default ""}}
{{ if $path }}
<div class="ui compact icon message bee-window-open" data-path="{{ $path }}">
    {{if $img }}<img src="{{$img}}" style="max-height: 3em;margin-right: 2em;">{{else}}<i class="{{$icon}} icon"></i>{{end}}
    <div class="content">
        <p>{{ $title }}</p>
    </div>
</div>
{{ else }}
<div class="ui compact icon message bee-modal-image" data-img="{{ $img }}" data-pdf="{{ $pdf }}">
    {{if $img }}<img src="{{$img}}">{{else}}<i class="{{$icon}} icon"></i>{{end}}
    <div class="content">
        <p>{{ $title }}</p>
    </div>
</div>
{{ end }}
