<!-- 
    Affichage d'une image
    fichier: chemin du fichier
    position: gauche, droite
    taille: mini, petite, moyenne, large
    titre: titre en dessous de l'image
    lien: url vers le document
-->
{{$src := .Get "image"}}
{{$size := .Get "taille" | default "medium" }}
{{$legend := .Get "titre"}}
{{$url := .Get "lien"}}
{{$pdf := .Get "pdf"}}
{{if $url}}
<a class="card raised" href="{{ $url }}" target="_blank">
    <div class="image">
        <img src="{{ $src }}">
    </div>
    {{if $legend}}
    <div class="content">
        <div class="center aligned header">{{ $legend }}</div>
    </div>
    {{end}}
</a>
{{else if $pdf}}
<a class="card raised bee-modal-image" href="" data-pdf="{{ $pdf }}">
    <div class="image">
        <img src="{{ $src }}">
    </div>
    {{if $legend}}
    <div class="content">
        <div class="center aligned header">{{ $legend }}</div>
    </div>
    {{end}}
</a>
{{else}}
<div class="card raised">
    <div class="image">
        <img src="{{ $src }}">
    </div>
    {{if $legend}}
    <div class="content">
        <div class="center aligned header">{{ $legend }}</div>
    </div>
    {{end}}
</div>
{{end}}
