<!-- 
    Affichage des images d'un répertoire
    repertoire   : répertoire des images
-->
{{ $.Page.Scratch.Set "diaporama" 1 }}
{{ $.Page.Scratch.Set "galerie" 1 }}
{{$dir := .Get 0 | default ""}}
<div class="ui centered relaxed grid bee-masonry" id="galerie">
    {{$image := (.Page.Resources.ByType "image")}}
    {{if $dir }}
    {{ $image = (.Page.Resources.Match (printf "%s/*" $dir)) }}
    {{end}}
    {{ with $image }}
    {{ range . }}
    {{ $resized := .Resize "300x" }}
    <div
        class="sixteen wide mobile eight wide tablet five wide computer four wide large screen four wide widescreen column bee-item-masonry">
        <div class="ui image bee-diapo"
            data-src="{{ .RelPermalink | relURL }}">
            <img src="{{ $resized.RelPermalink | relURL }}">
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>