<!-- 
    Affichage d'une image
    fichier: chemin du fichier
    position: gauche, droite
    taille: mini, petite, moyenne, grande
    titre: titre en dessous de l'image
    lien: url vers le document
-->
{{$src := .Get "image"}}
{{$size := .Get "taille" | default ""}}
{{$pos := .Get "position" | default ""}}
{{$legend := .Get "titre"}}
{{$url := .Get "lien"}}
{{if eq $size "mini"}}{{$size = "small"}}{{else if eq $size "petite"}}{{$size = "medium"}}{{else if eq $size "moyenne"}}{{$size = "large"}}{{else if eq $size "grande"}}{{$size = "big"}}{{end}}
{{if eq $pos "gauche"}}{{$pos = "left floated"}}{{else if eq $pos "droite"}}{{$pos = "right floated"}}{{end}}
<div class="ui compact {{ $pos }} segment" style="margin: 0; margin: 0 1em 0.5em 0; padding: 0">
        {{if $url}}
        <a class="image" href="{{ $url }}" target="_blank">
            <img class="ui {{$size}} image" src="{{ $src }}"></img>
        </a>
        {{else}}
        <div class="image">
            <img class="ui {{$size}} image" src="{{ $src }}"></img>
        </div>
        {{end}}
    {{if $legend}}
    <div class="ui bottom attached message" style="padding: 0">
        <div style="font-family: Lato;font-size: 0.8em;text-align: center; padding: 0.2em">{{ $legend }}</div>
    </div>
    {{end}}
</div>