<!-- 
    Affichage d'une image
    fichier: chemin du fichier
    position: gauche, droite
    taille: s m l xl
    lien: url vers le document
    forme: ronde
-->
{{$src := .Get "image"}}
{{$size := .Get "taille" | default ""}}
{{$pos := .Get "position" | default ""}}
{{$legend := .Get "titre"}}
{{$forme := .Get "forme"}}
{{$url := .Get "lien"}}
{{if eq $size "s"}}{{$size = "small"}}{{else if eq $size "m"}}{{$size = "medium"}}{{else if eq $size "l"}}{{$size = "large"}}{{else if eq $size "xl"}}{{$size = "big"}}{{end}}
{{if eq $pos "gauche"}}{{$pos = "left floated"}}{{else if eq $pos "droite"}}{{$pos = "right floated"}}{{end}}
{{if eq $forme "ronde"}}{{$forme = "circular"}}{{end}}
{{if $url }}
<a href="{{ $url | relURL }}" target="_blank">
    <img class="ui {{$size}} {{$forme}} {{$pos}} image" src="{{ $src | relURL }}"></img>
</a>
{{else }}
<div class="{{ if $.Page.Scratch.Get `diaporama` }} bee-diapo{{end}}" data-src="{{ $src | relURL }}">
    <img class="ui {{$size}} {{$forme}} {{$pos}} image" src="{{ $src | relURL }}"></img>
</div>
{{end}}